*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content{
    margin-top: 60px;
    padding: 20px;
}

.container{
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    line-height: 1.6;
}

.container p{
    margin-bottom: 16px;
    text-align: justify;
    text-indent: 20px;  /* define o recuo da primeira linha */
}

footer{
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}

footer ul{
    list-style: none;
    display: flex; /* deixa os itens um ao lado do outro*/
    justify-content: center; /* centraliza horizontal*/
}

footer ul li a{
    display: block; /* aumenta área clicável */
    padding: 15px 5px; /* espaçamento interno */
    font-size: 26px;
    text-decoration: none;
}

footer ul li #github{
    color: #fafbfc;  
}

footer ul li #linkedin{
    color: #58bceb;
}